doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //- script(src="/javascripts/toggle.js" defer) 
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon' href="/images/favicon.ico")
  body
    div(class='container-fluid')

      header(class='header') 
        div(class='icon')
          a(href="/")
            img(src='/images/favicon.ico' alt="controller")   
          a(class="title" href="/") Game Inventory
        a(href="#" class="toggle-button toggle")
            span.bar 
            span.bar 
            span.bar 
      block sidebar

      div(class='row')
        div(class='col-sm-2')
            ul(class='sidebar-nav')
              a(href='/catalog') 
                li
                  img(src='/images/icons/home.png')
                  p Home
              a(href='/catalog/games')
                li
                  img(src='/images/icons/controller.png') 
                  p All games
              a(href='/catalog/publishers')             
                li
                  img(src='/images/icons/publishers.png') 
                  p All publishers

              a(href='/catalog/genres')
                li
                  img(src='/images/icons/genres.png') 
                  p All genres

              a(href='/catalog/franchises')
                li
                  img(src='/images/icons/franchises.png') 
                  p All franchises
              
              a(href='/catalog/gameinstances')
                li
                  img(src='/images/icons/gameinstances.png') 
                  p All game-instances
              li
                hr
              
              a(href='/catalog/publisher/create')
                li
                  img(src='/images/icons/plus.png') 
                  p Create new publisher
              
              a(href='/catalog/franchise/create')
                li
                  img(src='/images/icons/plus.png') 
                  p Create new franchise
              
              a(href='/catalog/genre/create')
                li
                  img(src='/images/icons/plus.png') 
                  p Create new genre
              
              a(href='/catalog/game/create')
                li
                  img(src='/images/icons/plus.png') 
                  p Create new game
              
              a(href='/catalog/gameinstance/create')
                li 
                  img(src='/images/icons/plus.png') 
                  p Create new gameinstance (copy)

        div(class='col-sm-10')
          block content
    script(type="text/javascript").
      const toggleButton = document.querySelector(".toggle");

      const body = document.body;
      const navbarLinks = document.querySelector(".col-sm-2");

      toggleButton.addEventListener("click", () => {
        navbarLinks.classList.toggle("active");
        body.classList.toggle("sidebar");

        if (body.classList.contains("sidebar")) {
          closeNav();
        } else {
          openNav();
        }
      });

      function openNav() {
        navbarLinks.style.left = "-100%";
      }

      function closeNav() {
        navbarLinks.style.left = "0";
      }


         
