extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='company_name') Company Name:
      input#company_name.form-control(type='text' placeholder='Company name (Ex. Nintendo)' name='company_name' required='true' value=(undefined===publisher ? '' : publisher.company_name) )

    div.form-group
      label(for='founded_date') Founded date:
      input#founded_year.form-control(type='date' name='founded_date' value=(undefined===publisher ? '' : publisher.founded_year) )
    button.btn.btn-primary(type='submit') Submit
    div.form-group
      label(for='defunct_date') Defunct date (leave blank if company is still running):
      input#defunct_date.form-control(type='date' name='defunct_date' value=(undefined===publisher ? '' : publisher.defunct_date) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
