@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

:root {
  --text-color: rgb(209 213 219/1);
  --body-background: #003049;
  --lighter-blue:  hsla(0,0%,100%,.07);
  --sidebar-background: #f77f00;
  --sidebar-highlight: #fc8e18;
  --header-background: #D62828;
}

body {
  font: "Roboto", Arial, sans-serif;
  background-color: var(--body-background);
  color: var(--text-color);
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.header {
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  background-color: var(--header-background)!important;
  box-shadow: 0 3px 10px rgb(0 0 0 / 15%);
  padding: 10px;
}

.header .title {
  color: #fff;
}

.icon {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding-left: 16px;
  font-weight: 700;
}

.icon img {
  width: 48px;
}


a {
  color: #FCBF49;
  text-decoration: none;
}

li {
  list-style: none;
}

.container-fluid {
  height: 100vh;
}

.row {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 91.9%;
  /* grid-template-rows: 1fr; */
}

/*------------- Sidebar -------------*/

.col-sm-2 {
  display: grid;
  padding: 0;
  margin: 0;
  grid-column: 1;
  background-color: var(--sidebar-background);
  /* grid-row: 2; */
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
  box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
}

.col-sm-10 {
  grid-column: 2;
  /* grid-row: 2; */
  padding: 10px;
}

.sidebar-nav p {
  margin: 0;
  padding: 0;
}

.sidebar-nav {
  /* margin-top: 1.5rem; */
  padding: 0;
  list-style: none;
  background-color: #f77f00;

  /* border-radius: 10px; */
  height: 100%;
  font-weight: 600;
}

.sidebar-nav a {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  /* width: 100%; */
  /* padding-bottom: 12px; */
  color: white;
  padding: 12px;
  text-decoration: none;
}

.sidebar-nav li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  align-items: center;
  gap: 16px;
}


.sidebar-nav a:hover {
  background-color: var(--sidebar-highlight);
}

.gameinstance .title {
  font-size: 1.25rem;
  font-weight: 600;
}

/*--------------- game_list view  -----------------*/

.game-list-image img {
  width: 10rem;
} 


.game-list-item {
  background-color: var(--lighter-blue);
  border-radius: 5px;
}

.game-list-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2fr 1fr 1fr 1fr 1fr);
  align-items: space-around;
  text-align: center;
}

.game-list-container table {
  border-collapse: separate; 
  border-spacing: 0 1rem;
}



/* For franchise, gameinstance, publisher, and genre views */


.list-container {
  display: flex;
  flex-direction: column;
}


.list-container.homepage ul {
  min-width: 37rem;
}

form input:hover {
  cursor: auto;
}



/* Lighter blue for content on list and detail pages */


.list-container ul, form, .content-container {
  background-color: var(--lighter-blue);
  padding: 1rem;
  border-radius: 8px;
  font-size: 1.25rem;
}

/* form css */
.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #495057;
  background-color: #fff; */
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/*Dark Mode for inputs */

.checkbox, .form-control, .form-control:focus {
  background-color: var(--body-background);
  color: var(--text-color);
  cursor: auto;
}

.checkbox-input {
  margin-right: 5px;
}

::placeholder {
  color: var(--text-color);
}

.col-sm-10
{
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin-bottom: 1rem;
  display: block;
}

*, ::after, ::before {
  box-sizing: border-box;
}



.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: var(--sidebar-background);
  border-color: var(--sidebar-background);
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.col-sm-10 {
  /* display: grid; */
  width: 100%;
  justify-self: center;
}

.content-container {
  width: 100%;
  display: grid;
  justify-self: center;
}

.text-success {
  color: #28a745!important;
}

.text-danger {
  color: #dc3545!important;
}

.text-warning {
  color: #FCBF49!important;
}

/* ---------------cards for list pages ------------------*/

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;

}

.category-card {
  display: grid;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align: center;
  background-color: hsla(0,0%,100%,.07);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);

}

.category-card img {
  width: 100%;
}


.category-card img:hover {
  opacity: 0.55;
}


/* media queries */

@media (max-width: 768px) {

  

  .container-fluid {
    max-width: 100%;
  }

  body.sidebar {
    overflow: hidden;
  }

  .list-container.homepage ul {
    min-width: auto;
  }

  /*----------Sidebar nav ------------*/

  .col-sm-10 {
    display: grid;
  }


  .col-sm-2 {
  height: 100%;
  width: 75%;
  max-width: 310px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -100%;
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  }
  
  .sidebar-navbar {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  
  /* Hamburger menu */
  
  .toggle-button {
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button:hover {
    box-shadow: 0px 0px 5px #fff;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  
  .col-sm-2.active {
    display: grid;
    position: fixed;
  }

  .col-sm-10 {
    margin: 0;
    padding: 0;
  }

  .cards-container img {
    width: 100%;
  }

  .cards-container {
    grid-template-columns: auto;
  }

  .row{
    grid-template-columns: 1fr;
    justify-content: center;
  }


  .gameinstance.content-container h1, .gameinstance.content-container p {
    margin: 0;
    padding: 0;
  }

  
  .gameinstance ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 15px;
    width: 90%;
    align-self: center;
  }

  .gameinstance h1, .gameinstance h4 {
    margin-left: 10px;
  }
  
  .gameinstances img {
    width: 90%;
  }

  .gameinstance .col-sm-10 {
    margin: 0;
    padding: 0;
  }

  .gameinstance .category-card {
    max-width: 90%;
    justify-self: center;
  }
}


